<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bokeh-Django Examples</title>
</head>
<body>
<h1>Bokeh-Django Examples</h1>
<p>
    In these examples there are two different apps being used. One is a Bokeh app (Sea Surface), and the other is a Panel app (Shapes). The following examples show how these two apps are loaded in different ways.
</p>

<h2>Directory Apps</h2>
<p>The examples in this section are loaded with bokeh_django.directory</p>
<ul>
    <li><a href="./sea_surface">Sea Surface Temp</a></li>
</ul>

<h2>Document Apps</h2>
<p>The examples in this section are loaded with bokeh_django.document</p>
<ul>
    <li><a href="./sea_surface_direct">Sea Surface Temp</a></li>
    <li><a href="./sea_surface_with_template">Sea Surface Temp</a> (with custom template rendered by Bokeh)</li>
    <li><a href="./sea_surface_bokeh">Sea Surface Temp</a> (loaded using direct path to Bokeh app file - this is effectively the same as the Directory app above.)</li>
    <li><a href="./shape_viewer">Shapes (Panel app)</a></li>
</ul>

<h2>Autoload Apps</h2>
<p>The examples in this section are loaded with bokeh_django.autoload</p>
<ul>
    <li><a href="./sea-surface-temp">Sea Surface Temp</a></li>
    <li><a href="./my-sea-surface">Sea Surface Temp</a> (mapped to custom Bokeh handler URI)</li>
    <li><a href="./shapes">Shapes (Panel app)</a></li>
    <li><a href="./shapes/custom-arg1/custom-arg2">Shapes</a> (with URL variables)</li>
</ul>

</body>
</html>